@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    background-color:#24353f ;
   
}

.layer{
    background-color:   #24353f ;
   
    border-radius: 5%;
    width: 50%;
    box-shadow:4px 7px 18px #000000;
}

.layer  h1 {
font-family:  'Pacifico', cursive;
     color: #17a2b8;
} 
.wel{
    font-family:'Pacifico', cursive; 
    font-size: 50px;
   color: rgb(224, 229, 242);
}
.welcomecontainer{
    margin-top:200px ;
    border-radius: 20px;
    background-color: #61a6d1;
    box-shadow:3px 6px 10px #969696;
}
.navbar{
    background-color:#24353f ;
    box-shadow:4px 7px 18px #000000;
}